<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
        <title>MercadoLiebre</title>
    </head>
    <body>
        <header>
            <div class="inicioheader">
                <div class="logoheader"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                </div>
                <div class="buscarbarra" action="#" method="GET">
                    <div class="buscar">Buscar productos, marcas y más</div>
                    <div class="iconobuscar"><i class="fa fa-search"></i></div>
                </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="botonmenu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
    <main>
        <from action="login.html" method="post">
            <div class="formulariodatos">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" id="usuario">
                    <br>
                <label for="psw">Contraseña</label>
                <input type="password" name="psw" id="psw">
                <label for="psw">Repetir contraseña</label>
                <input type="password" name="psw" id="repetirpsw">
                
                    <br>
                <label for="enviar">Enviar</label>
                <button type="submit">Enviar</button>                
            </div>
        </from>
    </main>
</body>
</html>